  input:invalid {
      border: 1px solid red;
  }

  input:valid {
      border: 1px solid green;
  }

  .orange {
      color: orange;
  }

  #imgPopCorn {
      background-image: url("icons/Popcorn_icon.png");
      width: 64px;
      height: 64px;
      display: inline-block;
  }

  .auVert {
      animation-name: goVert;
      animation-duration: 500ms;
  }

  @keyframes goVert {
      0% {
          background-color: lightgrey
      }
      50% {
          background-color: limegreen
      }
      100% {
          background-color: lightgrey
      }
  }

  section {
      margin: 10px;
  }